.top{
    height: 10%;
    margin-bottom: 1%;
}
.bottom{
    height: 90%;
}
.name{
   float: left;
   width: 33.33%; 
   background-color: #111111;
   color:white;
}
#bottomleft{
    background-color:grey;
    color:white;
    float: left;
    padding-left:1%
}
#bottomright{
    padding-left: 20%;
}
